@import "tailwindcss";


/* button */
.btn {
    margin: 100px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  /* Add this to your existing globals.css */
.search-glow {
    position: relative;
    z-index: 0;
    border: none;
    outline: none;
  }
  
  .search-glow::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF6B6B, #FFAB40, #FFE082, #A5D6A7,
      #80DEEA, #002BFF, #64B5F6, #FF0000,#F48FB1
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  
  .search-glow:hover::before {
    opacity: 1;
  }
  
  .search-glow:active {
    color: #000;
    font-weight: bold;
  }